<component name="ArtifactManager">
  <artifact type="war" name="SpringAndSpringMvc:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-springMVC.war">
      <element id="artifact" artifact-name="SpringAndSpringMvc:war exploded" />
    </root>
  </artifact>
</component>